<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>ChargementFichier</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ChargementFichier</servlet-name>
    <servlet-class>com.ChargementFichier.servlets.ChargementFichier</servlet-class>
    <multipart-config>
      <location>C:\Users\nboubaka\Fichier\</location>
      <max-file-size>10485760</max-file-size>
      <max-request-size>5228800</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChargementFichier</servlet-name>
    <url-pattern>/Load</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Sessions</servlet-name>
    <servlet-class>com.ChargementFichier.servlets.Sessions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sessions</servlet-name>
    <url-pattern>/session</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PageSession</servlet-name>
    <servlet-class>com.ChargementFichier.servlets.PageSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageSession</servlet-name>
    <url-pattern>/Pagesession</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Cookies</servlet-name>
    <servlet-class>com.ChargementFichier.servlets.Cookies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cookies</servlet-name>
    <url-pattern>/pagecookies</url-pattern>
  </servlet-mapping>
  
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
</web-app>